html {
  background: #272F32;
  background: url("../image/index-pic.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  margin-bottom: 0;
}

.menu_button {
  display: block;
  color: white;
  background-color: seagreen;
  text-decoration-color: white;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius:15px;
  transition: all 0.5s ease 0s;
  width: 100px;
  margin: auto;
}

.menu_button:hover {
  background-color: inherit;
  border: 2px solid white;
}